numpy==1.24.3
scikit-learn==1.3.2
opencv-python-headless==4.8.1.78
deepface==0.0.91

tensorflow-cpu==2.13.0
protobuf==4.25.3

gdown==5.2.0

Flask==3.0.3
itsdangerous==2.1.2
Werkzeug==3.0.3
Jinja2==3.1.4

gunicorn==22.0.0